* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin: 10px 0;
    text-align: center;
    box-shadow: rgb(0, 0, 0.45) 0px 8px 20px -15px;
    margin-bottom: 0;
}

.header-logo {
    width: 50%;
    padding: 10px;
}

.location {
    display: inline-flex;
    background-color: rgb(239, 239, 239);
    width: 100%;
    padding: 20px;

}

.location__items {
    display: flex; 
    flex: 1;
    justify-content: center;
}

.location--item {
    margin-left: 15px;
}

.hero {
    background-color: rgb(247, 246, 246);
    padding: 30px;
}

.hero__items {
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.hero--button {
    width: 260px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to top,
    #852d91,
    #a3a1ff);
}

.introduction {
    padding: 30px;
}



.introduction__cards-badge {
    color: #fff;
    background-color:#852d91;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: -15px;
    z-index: 2;
}

.introduction__cards {
    display: flex;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.25);
    border-radius: 10px;
    position: relative;
    margin: 15px;

    > div{
        padding: 20px 25px;
        display: flex;
        align-items: center;
    }
  
}

.introduction__cards-badge{
    position: absolute;
    color: #fff;
    background-color:#852d91;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: -15px;
    z-index: 2;
}


.restaurants {
    background-color: grey;
    padding: 20px;
}

.card {
  height: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 15px;
}

.card img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10px;
}

.card__icon {
    justify-self: end;
    align-self: center;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

.footer-logo {
    width: 30%;
    padding-bottom: 20px;
}

.footer__items {
    line-height: 25px;
}

.footer__item{
    display: flex;
}

.footer__item i {
    padding-right: 12px;
}

@media only screen and (max-width: 600px) {
    .header-icon {
        display: none;
    }
}