.footer {
  background-color: $backgroung-footer;
  color: #fff;
  padding: 35px;

  &__logo {
    width: 30%;
    padding-bottom: 20px;
    filter: invert(100%);
  }
  &__items {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
  }

  &__item i {
    font-size: smaller;
    padding-right: 15px;
  }
}
