header {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 4px 13px -10px #000000;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  &__logo {
    width: 50%;
    padding: 10px;
  }
}

.header-icon {
  font-size: 20px;
  padding-left: 20px ;
  flex: 0 0 40%;
}
