.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.menu-card {
  box-shadow: $shadow;
  background-color: #fff;
  border-radius: 25px;
  &__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
    position: relative;

    &--text {
      font-weight: 100;
      line-height: 25px;
    }
    &--price {
      justify-self: end;
      align-self: flex-end;
    }
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (min-width: 800px) {
  .menu-wrapper {
    flex-direction: row;
    gap: 10px;
  }

  .menu-group {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}

.tick {
  height: 80 px;
  width: 10%;
  padding: 0 px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0 px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  color: #fff;
  background-color: #99e2d0;
  border-radius: 0 px 15 px 15 px 0 px;
  font-size: 18px;
}
