
.background {
  &__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  background-color: $background-lightgrey;
  margin: 0;
  padding: 35px 20px 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  position: relative;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
}

.menu-group {
  &__subheader {
    padding-top: 30px;
    padding-bottom: 15px;
    &--heading {
      text-transform: uppercase;
      padding-bottom: 5px;
      font-weight: 300;
    }
    &--devider {
      width: 12%;
      border: 2px solid $color-tertiary;
    }
  }
}

.menu-card {
  &__content {
    &--text {
      font-weight: 100;
    }
    &--price {
      justify-self: end;
      align-self: flex-end;
      font-size: 18px;
      padding-right: 10px;
    }
  }
}
