$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-icons: #8c8c8c;
$background-lightgrey: #f6f6f6;
$background-darkergrey: #eaeaea;
$backgroung-footer: #353535;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$shadow-intro: 0px 0px 10px rgba($color: #000000, $alpha: 0.25);
$background-opacity: rgba($backgroung-footer, .5);

.bg-lightgrey {
    background-color: $background-lightgrey;
}

.bg-darkgrey {
    background-color: $background-darkergrey;
}

.py-5 {
    padding: 3rem 0 3rem 0;
}

